<a href="https://colab.research.google.com/github/himanshushakyawar/AWS_Deployments/blob/main/Linear_Regression_Regularization_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget "https://www.dropbox.com/s/3yqg0fzr4lhlnnj/IPL-IMB381IPL2013.csv"

--2021-12-12 05:14:24--  https://www.dropbox.com/s/3yqg0fzr4lhlnnj/IPL-IMB381IPL2013.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.5.18, 2620:100:601d:18::a27d:512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.5.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/3yqg0fzr4lhlnnj/IPL-IMB381IPL2013.csv [following]
--2021-12-12 05:14:25--  https://www.dropbox.com/s/raw/3yqg0fzr4lhlnnj/IPL-IMB381IPL2013.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucc89c9c7a3a86d759b8f0cd7cb1.dl.dropboxusercontent.com/cd/0/inline/Bbr7nzyLN5o5xVX5bRYVK-fi8Orp4_Cz6IILQdmOJSh0rAMuw083GGsOX16_6ziA2YxOqWhjROdLARTCj6GN2lT9KmZZbuFceZET1flqqoGuoNDHbhSSJZn_OpyfiyvrUB-mAPJv5LHTh6h-SZUa_0a0/file# [following]
--2021-12-12 05:14:25--  https://ucc89c9c7a3a86d759b8f0cd7cb1.dl.dropboxusercontent.com/cd/0/inline/Bbr7nzyLN5o5xVX5bRYVK-fi8Orp4_Cz6IILQdmOJSh0rAMuw083GGsOX16_6ziA2YxOqWhjROdLARTCj6GN2lT9KmZZbuFceZET1flqqoGuoNDHbhSSJZn_OpyfiyvrUB-mAPJv5LHTh6h-SZUa_0a0/file
Resolving ucc89c9c7a3a86d759b8f0cd7cb1.dl.dropboxusercontent.com (ucc89c9c7a3a86d759b8f0cd7cb1.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:601f:15::a27d:90f
Connecting to ucc89c9c7a3a86d759b8f0cd7cb1.dl.dropboxusercontent.com (ucc89c9c7a3a86d759b8f0cd7cb1.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15661 (15K) [text/plain]
Saving to: ‘IPL-IMB381IPL2013.csv.1’

IPL-IMB381IPL2013.c 100%[===================>]  15.29K  --.-KB/s    in 0s

2021-12-12 05:14:25 (130 MB/s) - ‘IPL-IMB381IPL2013.csv.1’ saved [15661/15661]

In [ ]:
import pandas as pd
df = pd.read_csv("IPL-IMB381IPL2013.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sl.NO.         130 non-null    int64
 1   PLAYER NAME    130 non-null    object
 2   AGE            130 non-null    int64
 3   COUNTRY        130 non-null    object
 4   TEAM           130 non-null    object
 5   PLAYING ROLE   130 non-null    object
 6   T-RUNS         130 non-null    int64
 7   T-WKTS         130 non-null    int64
 8   ODI-RUNS-S     130 non-null    int64
 9   ODI-SR-B       130 non-null    float64
 10  ODI-WKTS       130 non-null    int64
 11  ODI-SR-BL      130 non-null    float64
 12  CAPTAINCY EXP  130 non-null    int64
 13  RUNS-S         130 non-null    int64
 14  HS             130 non-null    int64
 15  AVE            130 non-null    float64
 16  SR-B           130 non-null    float64
 17  SIXERS         130 non-null    int64
 18  RUNS-C         130 non-null    int64
 19  WKTS           130 non-null    int64
 20  AVE-BL         130 non-null    float64
 21  ECON           130 non-null    float64
 22  SR-BL          130 non-null    float64
 23  AUCTION YEAR   130 non-null    int64
 24  BASE PRICE     130 non-null    int64
 25  SOLD PRICE     130 non-null    int64
dtypes: float64(7), int64(15), object(4)
memory usage: 26.5+ KB

In [ ]:
features = ['AGE', 'COUNTRY', 'PLAYING ROLE', 
'T-RUNS', 'T-WKTS', 'ODI-RUNS-S', 'ODI-SR-B', 
'ODI-WKTS', 'ODI-SR-BL', 'CAPTAINCY EXP', 'RUNS-S', 
'HS', 'AVE', 'SR-B', 'SIXERS', 'RUNS-C', 'WKTS', 
'AVE-BL', 'ECON', 'SR-BL']

In [ ]:
categorical_features = ['AGE', 'COUNTRY', 'PLAYING ROLE', 'CAPTAINCY EXP']

In [ ]:
ipl_auction_encoded_df = pd.get_dummies(  df[features],columns = categorical_features, drop_first = True )  # Drop_frist = True to avoid Multicollinearity

In [ ]:
ipl_auction_encoded_df.head()

   T-RUNS  T-WKTS  ...  PLAYING ROLE_W. Keeper  CAPTAINCY EXP_1
0       0       0  ...                       0                0
1     214      18  ...                       0                0
2     571      58  ...                       0                0
3     284      31  ...                       0                0
4      63       0  ...                       0                0

[5 rows x 31 columns]

In [ ]:
features = ipl_auction_encoded_df.columns

In [ ]:
X = ipl_auction_encoded_df
y = df["SOLD PRICE"]

In [ ]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
X_scaled = ss.fit_transform(X)
y = (y - y.mean())/y.std()

In [ ]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split( X_scaled , y,train_size = 0.8, random_state = 42 )

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [ ]:
lr.fit(train_X,train_y)

LinearRegression()

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
y_pred = lr.predict(test_X)
y_pred_train = lr.predict(train_X)

In [ ]:
import numpy as np

In [ ]:
test_rmse = np.sqrt(mean_squared_error(y_pred,test_y))
train_rmse = np.sqrt(mean_squared_error(y_pred_train,train_y))
train_rmse , test_rmse

(0.6793950429977006, 0.7485680800731183)

# Ridge Regression - L2

In [ ]:
from sklearn.linear_model import Ridge
ridge = Ridge(alpha = 1)

In [ ]:
ridge.fit(train_X,train_y)

Ridge(alpha=1)

In [ ]:
def get_train_test_rmse(model):
  y_pred_train = model.predict(train_X)
  rmse_train = np.sqrt(mean_squared_error(train_y, y_pred_train))

  y_pred_test = model.predict(test_X)
  rmse_test =  np.sqrt(mean_squared_error(test_y, y_pred_test))

  print(f"train: {rmse_train}, and test: {rmse_test}")

In [ ]:
get_train_test_rmse(ridge)

train: 0.6804918665100158, and test: 0.7237923448623433

In [ ]:
from sklearn.linear_model import Ridge
ridge = Ridge(alpha = 2)
ridge.fit(train_X,train_y)
get_train_test_rmse(ridge)

train: 0.6824945716553967, and test: 0.7057094104617131

# Lasso Regression (L1)

In [ ]:
from sklearn.linear_model import Lasso
lasso = Lasso(alpha = 0.01)
lasso.fit(train_X,train_y)
get_train_test_rmse(lasso)

train: 0.688373505629288, and test: 0.6982872223862223

# Elasticnet Regression

In [ ]:
from sklearn.linear_model import ElasticNet

In [ ]:
enet = ElasticNet(alpha=1, l1_ratio=0.001)
enet.fit(train_X,train_y)
get_train_test_rmse(enet)

train: 0.7884952475587629, and test: 0.664836912870875